h1 {
    font-weight: 300;
    font-family: Roboto, sans-serif;
    text-align: center;
}
thead {
font-size: 2rem;
text-align: left;
color: green;
background-color: lightgray;
}
table {
    border-collapse: collapse;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}
img {
    height: 100px;
    width: 100px;
}
th, td, thead {
    padding: .5em;
    border-bottom: 1px solid #d3d3d3;
}
tbody tr:nth-child(2) {
    background-color: #eee;
}
tbody tr:nth-child(4) {
    background-color: #eee;
}
tbody tr:hover {
    background-color: pink
}